@font-face {
    font-family: 'beauty-wind'; /* Gewünschter Name */
    src: url("../fonts/beauty-wind.ttf");
}


/*----------------*/
/*------BODY------*/
/*----------------*/

body {
    background: rgb(12,225,212);
    background: linear-gradient(180deg, rgba(12,225,212,0.9836309523809523) 0%, rgba(240,253,254,0.6054796918767507) 85%);
    margin: 0px;

}



/*----------------*/
/*----Generell----*/
/*----------------*/

h1 {
    font-size: 60px;
}


h2 {

    font-size: 36px;
    line-height: 20px;
}

p {
    color: darkslategray;
    font-size: 26px;
    line-height: 35px;
}


/*----------------*/
/*-----HEADER-----*/
/*----------------*/

header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vh;
    margin-bottom: 10vh;
    background-color: azure;
    width: 100%;

}
.header{
    color: black;
    font-size: 30px;
    line-height: 35px;
}
@media (max-width:1024px) {
    .header{
        color: black;
        font-size: 20px;
        line-height: 35px;
    }    
}

/*----------------*/
/*------MAIN------*/
/*----------------*/

main
{
    display: flex;
    justify-content: left;
    margin: 0% 5%;
}

main .letter h1{
    font-family: beauty-wind;
    color: black;
    font-size: 40px;


}


main .letter p{
    font-family: beauty-wind;
    color: black;
    
}
main img{
    max-width: 90vw;
}
