body
{
    
    background: rgb(2,0,36);
    background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(175,30,154,0.4766281512605042) 38%, rgba(0,212,255,1) 100%);
    margin: 1vw 10vw;
    min-height: 100vh;
} 
@media (max-width: 1024px) 
{
    body
    {
        margin: 1% 5%;
        
    }
}
h1
{
    font-size: 60px;
    color: #ffc300;
    text-decoration: underline #ffc300;
}


h2
{

    font-size: 36px;
    line-height: 20px;
}

p
{
    color: whitesmoke;
    font-size: 26px;
    line-height:35px;

}
header
{
    display: flex;
    justify-content: center;
    border-bottom: 2px solid #ffc300;
    height: 98vh;


}
.header-con h1
{
    font-size: 120px;

    
}

table th
{

    width: 33vw;
    border:  2px solid purple;
    padding: 10px;
    color: lightblue;
}



