@font-face {
    font-family: 'beauty-wind'; /* Gewünschter Name */
    src: url("../fonts/beauty-wind.ttf");
}


/*----------------*/
/*------BODY------*/
/*----------------*/

body {
    background: rgb(225,12,63);
    background: linear-gradient(0deg, rgba(225,12,63,1) 0%, rgba(254,240,242,1) 100%);
    margin: 1vw 10vw;
    min-height: 100vh;

}

@media (max-width: 1024px) {
    body {
        margin: 1% 5%;
    }
}


/*----------------*/
/*----Generell----*/
/*----------------*/

h1 {
    font-size: 60px;
}


h2 {

    font-size: 36px;
    line-height: 20px;
}

p {
    color: whitesmoke;
    font-size: 26px;
    line-height: 35px;
}


/*----------------*/
/*-----HEADER-----*/
/*----------------*/

header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 95vh;
    margin-bottom: 200px;

}
header .bc{
    background-image: url(../img/bg-gif.webp);
    background-size: contain;
    width: 100%;
    border: 20px solid rgba(254,240,242,1);
}
header img{
    width: 33%;
}

.header-con h1 {
    font-size: 120px;
}


/*----------------*/
/*------MAIN------*/
/*----------------*/

main
{
    display: flex;
    justify-content: center;
}
main .letter{
    background-image: url(../img/letter-big.png);
    padding-top: 20px;
    width: 950px;
    height: 1200px;
    background-size: cover;
    background-repeat: no-repeat;
}
main .letter h1{
    font-family: beauty-wind;
    color: black;
    font-size: 40px;
    text-align: center;
    padding-top: 100px;
    padding-left: 100px;

}
main h1.end{
    font-family: beauty-wind;
    text-align: center;
    color: black;
    font-size: 40px;
    padding-top: 50px;
    padding-right: 150px;
}

main .letter p{
    font-family: beauty-wind;
    padding: 20px 250px 0px 150px;
    color: black;
    
}
main .img-right{
    position: absolute;
    right: 0px;
}
main .img-left{
    position: absolute;
    padding-top: 200px;
    left: 0px;
    transform: scaleX(-1);
}